@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html,body,head,div,h1,p,a {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #FEE501;
  color:#2D251C;
}

.centered {
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;

  position: absolute;
  width:60vw;
}

h1 {
  font-weight: 800;
  font-size:400%;
  transition:0.2s ease;
}

p {
  font-size:150%;
  margin-bottom:2%;
}

a {
  color: #2D251C;
  margin-top: 2%;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  font-size:110%;
  transition: 0.17s ease;
  height:3vh;
  width:20vw;
}

a:hover {
  opacity: 0.7;
}

a img {
  height:2.5vh;
  margin-right:2%;
}

@media only screen and (max-width: 900px) {
  .centered {
    width:90vw;
    font-size:90%;
  }

  a {
    width:50vw;
  }
}
